# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Agile-IoT-Development-1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
